.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.carousel {
  padding-bottom: 91px;
  &__title {
    @include text($Gar, 400, 40px, 46px, #fff);
    text-align: center;
  }
  &__content{
    display: flex;
    column-gap: 40px;
  }
  &__img{
    width: calc(50% - 20px);
  }

  &__info{
    width: calc(50% - 20px);
  }
  &__text{
    @include text($Rob, 400, 16px, 26px, #fff);
    margin-bottom: 33px;
  }
  &__stats{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__stat{
    color: $milk;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-left: -20px;
    &-rotate{
      position: relative;
      left: 10px;
      @include text($Rob, 400, 12px, 14px, #fff);
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
    &-num{
      @include text($Rob, 400, 45px, 53px, $milk);
      text-transform: uppercase;
    }
    &-text{
      @include text($Rob, 400, 12px, 14px, #fff);
      text-transform: uppercase;
    }
  }
  &__bot{
    display: flex;
    justify-content: flex-end;
    column-gap: 100px;
    align-items: center;
    margin-top: 55px;
  }
  &__btns{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(20px);
    display: flex;
    column-gap: 14px;
    z-index: 10;
  }
  &__btn{
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.43);
    transition: .5s;
    &:hover{
    background: $milk;
    transition: .5s;
  }
    &-active{
      background: $milk;
    }
  }
  &__bot-text, &__bot-sign{
    font-family: 'Segoe Script' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #E1DECE;
  }
}