.collections{
  &__box{
    position: relative;
  }
  &__block{
    position: relative;
    display: flex;
    column-gap: 212px;
    margin-bottom: 196px;
    &:nth-of-type(even){
      flex-direction: row-reverse;
    }
    &:nth-child(2n)::before{
      content: "";
      position: absolute;
      width: 700px;
      height: 540px;
      background: url("../images/plan.png");
      right: -11%;
      top: -50%;
    }
    &:nth-child(3)::before{
      content: "";
      position: absolute;
      width: 700px;
      height: 540px;
      background: url("../images/plan.png");
      left: -35%;
      top: -40%;
    }
    &-img{
      width: calc(50% - 20px);
    }
    &-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(50% - 20px);
    }
    &-info{
      @include text($Rob, 400, 10px, 26px, #6E6E6E);
      text-transform: uppercase;
    }
    &-title{
      @include text($Gar, 700, 40px, 46px, #E1DECE);
      margin: 18px 0 30px;
    }
    &-desc{
      @include text($Rob, 400, 16px, 26px, #C4C4C4);
    }
  }
  &__img{
    &-small{
      border: 2px solid $milk;
      position: absolute;
      max-width: 248px;
      bottom: 100px;
      left: 317px;
    }
  }
  .small__right{
    left: -110px;
  }
}
