.home {
  position: relative;
  padding: 185px 0 249px;
  background: $black url("../images/HomeBG.png") center/cover no-repeat;
  margin-left: 96px;
  &__title {
    @include text ($Gar, 700, 50px, 62px, #fff);
    text-align: center;
  }
  &__subtitle {
    @include text($Rob, 400, 20px, 32px, #fff);
    text-align: center;
    padding: 22px 0 10px;
  }
  &__btn {
    @include text($Rob, 400, 14px, 0, $black);
    cursor: pointer;
    padding: 23px 50px;
    background: #FFFFFF;
    border-radius: 50px;
    border: none;
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 62px;
  }
  &__logo {
    position: absolute;
    top: 40px;
    left: 0;
    transform: translate(-50%, -30%);
    z-index: 7;
  }
  &__after {
    position: absolute;
    right: 0;
    bottom: -50px;
    &:hover {
      background: linear-gradient(126.33deg, rgba(85, 80, 80, 0.65) -43.79%, rgba(222, 211, 109, 0.1) 52.43%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      transition: .7s;
    }
  }
}


@media (max-width: 1320px) {
    .home{
      margin-left: 0;
      &__logo{
        top: 0;
        transform: none;
      }
    }
}

@media (max-width: 992px) {
    .home{
      padding: 160px 0 220px;
    }
}

@media (max-width: 876px) {
  .home__title{
    font-size: 44px;
    line-height: 60px;
  }
  .home__btn{
    padding: 20px 45px;
  }
}

@media (max-width: 768px) {
  .home__title{
    font-size: 37px;
    line-height: 50px;
  }
  .home{
    padding: 140px 0 200px;
  }
  .home__subtitle{
    font-size: 19px;
  }
  .home__logo{
    top: -20px;
    svg{
      width: 100px;
    }
  }
}

@media (max-width: 576px) {
    .home__title{
      font-size: 33px;
      line-height: 45px;
    }
  .home__subtitle{
    font-size: 18px;
    br{
      display: none;
    }
    margin: 10px 0 10px;
  }
  .home{
    padding: 130px 0 160px;
  }
  .home__after{
    display: none;
  }
}

@media (max-width: 425px) {
    .home__title{
      font-size: 29px;
      line-height: 40px;
    }
  .home__subtitle{
    font-size: 16px;
    margin: 10px 0 10px;
  }
  .home{
    padding: 130px 0 125px;
  }
  .home__btn{
    padding: 17px 36px;
  }
}

@media (max-width: 375px) {
  .home__title{
    font-size: 25px;
    line-height: 40px;
  }
  .home__logo{
    top: -25px;
    svg{
      width: 90px;
    }
  }
}

