.partners{
  position: relative;
  padding: 250px 0 50px;
  &__title{
    position: absolute;
    right: 110px;
    top: 0;
    @include text($Gar, 400, 40px, 60px, #fff);
  }
  &__block{
    display: flex;
    align-items: center;
    column-gap: 48px;
  }
  &__logo{
    max-width: 242px;
    transition: .4s;
    &:hover{
      transform: scale(1.1);
      transition: .4s;
    }
  }
  .desiderio__logo:nth-child(2){
    margin: 90px 0;
  }
}