.stages{
  position: relative;
  padding: 250px 0 500px;
  background: url("../images/stagesBG.png");
  &::after{
    content: "";
    width: 100%;
    height: 450px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color: $black;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
  }
  &__title{
    position: absolute;
    top: -20px;
    right: 110px;
    font-family: $Gar;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
  }
  &__block{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -100px;
    &-box{
      margin-top: 100px;
      width: 310px;
      height: 310px;
      column-gap: 125px;
    }
    &-img{
      width: 80px;
      height: 80px;
    }
    &-title{
      font-family: $Rob;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      margin: 50px 0 20px;
    }
    &-desc{
      font-family: $Rob;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #C4C4C4;
    }
  }
}