.stages{
  position: relative;
  padding: 250px 0 500px;
  background: url("../images/stagesBG.png");
  &::after{
    content: "";
    width: 100%;
    height: 450px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color: $black;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
  }
  &__title{
    position: absolute;
    top: -20px;
    right: 110px;
    @include text($Gar, 400, 40px, 60px, #fff);
  }
  &__block{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -100px;
    &-box{
      margin-top: 100px;
      width: 310px;
      height: 310px;
      column-gap: 125px;
    }
    &-img{
      width: 80px;
      height: 80px;
    }
    &-title{
      @include text($Rob, 700, 18px, 21px, #fff);
      margin: 50px 0 20px;
    }
    &-desc{
      @include text($Rob, 400, 14px, 24px, #C4C4C4);
    }
  }
}